body {
  background: rgba(25, 23, 101, 1);
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  z-index: 10;
  padding: 20px 20px;
  justify-content: flex-end;
}

a:hover {
  color: red;
}

a:active {
  color: white;
}

a:disabled {
  color: gray;
}

#navbar a {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-decoration: non;
  display: flex;
  margin-right: 2rem;
}

#profile {
  width: 75%;
  margin: auto;
  text-align: center;
  border-bottom: 1px grey solid;
}

#profile h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
}

#profile h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-top: -40px;
}

#profile p {
  color: #c8c8d4;
  font-size: 20px;
  line-height: 28px;
}

.skills {
  width: 100vw;
  background-image: url(./images/Ellipse\ 19.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 140px;
  background-position-y: 10px;
}

.skills .languages {
  display: flex;
  width: 75%;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
  border-bottom: 1px grey solid;
}

.skills .languages ul {
  list-style: none;
}

.skills .languages ul .list {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
}

.skills .languages ul li {
  color: #f5f5ff;
  font-size: 15px;
  line-height: 35px;
  font-weight: 400;
}

#contact {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
  background-color: lightgray;
  margin: auto;
}

#contact a {
  margin-left: 20px;
  color: #344563;
  font-size: 20px;
  font-weight: 400;
  text-decoration: non;
  display: flex;
  margin-right: 2rem;
}

hr {
  color: white;
  background-color: antiquewhite;
  width: 70%;
}
